@charset "UTF-8";
*
.heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 20%;
}

.heart input {
  display: none;
}

.heart label {
  display: block;
  cursor: pointer;
  width: 20px;
  font-size: 30px;
}

.heart label:before {
  content: '❤';
  color: #b3b3b3;
  display: block;
  position: relative;
}

.heart label:after {
  content: '❤';
  color: #FF79DA;
  display: block;
  position: absolute;
  background-color: cover;
  top: 0;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.heart label:hover:after,
.heart label:checked ~ label:after,
.heart input:checked ~ label:after {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin-left: 450px;
  margin-right: 450px;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 96.25%;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 90%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 83.75%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

@media only screen and (max-width: 600px) {
  header .logo {
    margin-left: 30px;
  }
}

header .logo img {
  width: 40%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  color: black;
}

header .logo a :hover {
  color: #FF79DA;
}

header .logo .fas {
  width: 15px;
  height: 15px;
  margin-bottom: 10px;
}

section a {
  font-size: 12px;
}

section .background-image {
  background-image: url(../images/restaurants/bastille.jpg);
  background-size: cover;
  height: 308px;
  position: relative;
  background-repeat: no-repeat;
}

section .background-image .menu-heading {
  height: auto;
  background-color: white;
  position: relative;
  top: 260px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .background-image .heart {
  margin-top: 10px;
  width: auto;
  margin-right: 40px;
}

section .background-image .bastille {
  font-size: 25px;
  margin-left: 25px;
  font-family: "shrikhand";
  margin-top: 10px;
}

section .resto-menu-entrees {
  background-color: #e7e1e1;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .resto-menu-entrees .entrees-title {
  height: 40px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
  position: relative;
  text-transform: uppercase;
  width: auto;
}

section .resto-menu-entrees .entrees-title::after {
  content: '';
  height: 2px;
  width: 6%;
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

section .resto-menu-entrees .entrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 1px 5px 20px #d3cfcf;
          box-shadow: 1px 5px 20px #d3cfcf;
}

section .resto-menu-entrees .entrees .menu-price {
  margin-right: 25px;
}

section .resto-menu-entrees .entrees .squid {
  margin-left: 25px;
}

section .resto-menu-entrees .entrees .vegetable-soup {
  margin-left: 25px;
}

section .resto-menu-entrees .entrees .onion-soup {
  margin-left: 25px;
}

section .resto-menu-maindish {
  background-color: #e7e1e1;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .resto-menu-maindish .maindish-title {
  height: 40px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
  position: relative;
  text-transform: uppercase;
  width: auto;
}

section .resto-menu-maindish .maindish-title::after {
  content: '';
  height: 2px;
  width: 6%;
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

section .resto-menu-maindish .maindish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 1px 5px 20px #d3cfcf;
          box-shadow: 1px 5px 20px #d3cfcf;
}

section .resto-menu-maindish .maindish .menu-price {
  margin-right: 25px;
}

section .resto-menu-maindish .maindish .scallops {
  margin-left: 25px;
}

section .resto-menu-maindish .maindish .magret-de-canard {
  margin-left: 25px;
}

section .resto-menu-maindish .maindish .game-hen {
  margin-left: 25px;
}

section .resto-menu-desserts {
  background-color: #e7e1e1;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .resto-menu-desserts .desserts-title {
  height: 40px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
  position: relative;
  text-transform: uppercase;
  width: auto;
}

section .resto-menu-desserts .desserts-title::after {
  content: '';
  height: 2px;
  width: 6%;
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

section .resto-menu-desserts .desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 1px 5px 20px #d3cfcf;
          box-shadow: 1px 5px 20px #d3cfcf;
}

section .resto-menu-desserts .desserts .menu-price {
  margin-right: 25px;
}

section .resto-menu-desserts .desserts .floral-ice-cream {
  margin-left: 25px;
}

section .resto-menu-desserts .desserts .lava-cake {
  margin-left: 25px;
}

section .resto-menu-desserts .desserts .napolean {
  margin-left: 25px;
}

section .order {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .order .order-btn {
  height: 40px;
  width: 200px;
  border-radius: 50px;
  font-size: .9rem;
  background-color: #FF79DA;
  color: white;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-color: #FF79DA;
}

.footer-logo {
  background-color: #2f2f2f;
  color: white;
  height: auto;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-logo a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.footer-logo a :hover {
  text-decoration: underline;
  color: #FF79DA;
}

.footer-logo .footer-links {
  margin-left: 10px;
  margin-top: 5px;
}

.footer-logo .footer-links img {
  width: 80px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.footer-logo .legalandcontact {
  color: white;
  height: auto;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  margin-left: 100px;
  margin-top: 65px;
}

@media only screen and (max-width: 600px) {
  .footer-logo .legalandcontact {
    margin-left: 10px;
    margin-top: 0px;
  }
}
/*# sourceMappingURL=bastille.css.map */