@import "./variables";
@import "./mediaqueries";

header{
    border: $bordersolid;
    display: flex;
    justify-content: space-between;
     margin-top: 20px;
     align-items: center;

    @include responsive(tab) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        }
    @include responsive(phone) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        }   
    }
    
         .location{
                 text-align: center;
                 width: 15rem;
                 height: 2rem;
                 font-size: 1rem;
                 border: $bordersolid;
             }
            
        .logo
        {
            border: $bordersolid;
            width: auto;
            height: 40%;

            img {
                width: 170px;
                height: 40px;
            }
        }

    
 