*
/* heart */

.heart{
    display: flex;
    position: relative;
   
    height: auto;
    width: auto;
   
    }

.heart input{
    display: none; 
   
    }
    
.heart label{
    display: block;
    cursor: pointer;
    font-size: 30px;
    
    }
    
.heart label:before{
        content: '❤';
        color: rgb(179, 179, 179);
        display: block;
        position: relative;
       
        
        }
.heart label:after{
    content: '❤';
    color: #FF79DA;
    display: block;
    position: absolute;
    top: 0 ;
    opacity: 0;
    transition: .5s;
}
.heart label:hover:after,
.heart label:checked ~ label:after,
.heart input:checked ~ label:after
{
    opacity: 1;

}





   