@import "./variables";
@import "./mediaqueries";
@import "./heart";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}


body{
    @include margin450;

    @include responsive(laptop) { 
        font-size: 96.25%;
        @include margin170
    }
    @include responsive(tab) { 
        font-size: 90%;
        @include margin30
    }
    @include responsive(phone) {  
        font-size: 83.75%;
        @include margin30
    } 
}

header{
    margin-top: 5px;
    .logo{
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        justify-content: space-between;
        width: 60%;
        
        
        @include responsive(phone) {  
            margin-left: 30px;
        }

        img{
            width: 50%;
            height: 40px;
            display: flex;
            justify-content: center;
           
        }

        a{
         
          display: flex; 
          text-decoration: none;
          width: 10%;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          color: black;

          :hover{
              color: #FF79DA;
          }
        }

        .fas {
            width: 15px;
            height: 15px;
            margin-bottom: 10px;
        }
        }
    }
section{
    background-color: $bgcolor;
    a{
        font-size: 12px;
    }

    .background-image{
        background-image:url(../images/restaurants/les-gourmand.jpg);
        background-size: cover;
        height: 308px;
        position: relative;
        background-repeat: no-repeat;
        animation: transitionIn 1s;
        
    
        .menu-heading{
            height: auto;
            background-color: $bgcolor;
            position: relative;
            top: 260px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
           
            }
        
        

        .heart{
            margin-top: 10px;
            
            width: auto;
            margin-right: 40px;
            }

        .le-gourmand{
            font-size: 25px;
            margin-left: 25px;
            font-family: "shrikhand";
            margin-top: 10px;
            }  
    }

    .resto-menu-entrees{
        
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between  ;

        .entrees-title{
            height: 30px;
            margin-top: 20px;
            align-items: center;
            display: flex;
           margin-left: 25px;
           position: relative;   
           text-transform: uppercase;
           width: auto;
           animation: transitionIn 1s;
          
        }

        .entrees-title::after{
            content: '';
            height: 2px;
            width: 6%;
            background: #99E2D0;
            position:absolute;
            left: 0;
            bottom: 0;
        }

        .entrees{
            @include dish;
            animation: transitionIn 1s;

            .name-and-price{
                display: flex;
                margin-left: 15px;
                margin-right: 0px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;


                &:hover + .check {
                    .far {
                       transform: rotate(0deg);
                   }
                  width: 20%;
                  
                  
                }

                    .menu-price{
                        @include menu-price;
                   
                    }

                    .tuna{
                        @include menu-name;
                        animation: transitionIn 1s;
                    }
                }

                .check{
                    @include check;

                    .far {
                            transform: rotate(360deg);
                            transition: transform 500ms ease-in-out;
                            color: white;
                    }

                }
            
            .crunchy-lobster{
                @include menu-name;
                animation: transitionIn 2s;
           
            }
            .mushroom-soup{
                @include menu-name;
                animation: transitionIn 3s;
                }
            }
        }
    
    .resto-menu-maindish{
       
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between  ;

        .maindish-title{
            height: 30px;
            margin-top: 20px;
            align-items: center;
            display: flex;
           margin-left: 25px; 
           position: relative;   
           text-transform: uppercase;
           width: auto;
           animation: transitionIn 1s;
        }

        .maindish-title::after{
            content: '';
            height: 2px;
            width: 6%;
            background:#99E2D0;
            position:absolute;
            left: 0;
            bottom: 0;
        }

        .maindish{
            @include dish;
            animation: transitionIn 1s;

            .name-and-price{
                display: flex;
                margin-left: 15px;
                margin-right: 0px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;


                &:hover + .check {
                    .far {
                       transform: rotate(0deg);
                   }
                  width: 20%;
                  
                  
                }

                    .menu-price{
                        @include menu-price;
                   
                    }

                    .roast-chicken{
                        @include menu-name;
                        animation: transitionIn 1s;
                    }
                }

                .check{
                    @include check;

                    .far {
                            transform: rotate(360deg);
                            transition: transform 500ms ease-in-out;
                            color: white;
                    }

                }
            
            .roasted-lobster{
                @include menu-name;
                animation: transitionIn 2s;
           
            }
            .beef-ribs{
                @include menu-name;
                animation: transitionIn 3s;
                }
            }
        }

    .resto-menu-desserts{
    
        height: 290px;
        
       
        display: flex;
        flex-direction: column;
        justify-content: space-between  ;

        .desserts-title{
            height: 30px;
            margin-top: 20px;
            align-items: center;
            display: flex;
           margin-left: 25px;   
           position: relative;   
           text-transform: uppercase;
           width: auto;
           animation: transitionIn 1s;
        }

        .desserts-title::after{
            content: '';
            height: 2px;
            width: 6%;
            background: #99E2D0;
            position:absolute;
            left: 0;
            bottom: 0;
        }

        .desserts{
            @include dish;
            animation: transitionIn 1s;

            .name-and-price{
                display: flex;
                margin-left: 15px;
                margin-right: 0px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
               
                
               
                width: 100%;
                height: 100%;


                &:hover + .check {
                    .far {
                       transform: rotate(0deg);
                   }
                  width: 20%;
                  
                  
                }

                    .menu-price{
                        @include menu-price;
                   
                    }

                    .dessert-plate{
                        @include menu-name;
                        animation: transitionIn 1s;
                    }
                }

                .check{
                    @include check;

                    .far {
                            transform: rotate(360deg);
                            transition: transform 500ms ease-in-out;
                            color: white;
                    }

                }
            
            .creme-brulee{
                @include menu-name;
                animation: transitionIn 2s;
           
            }
            .tiramisu{
                @include menu-name;
                animation: transitionIn 3s;
                }
            }
        }
    
    .order{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 90px;
        align-items: center;
        
        .order-btn {
            @include order-button;
        }
    }
}

.footer-logo{
    background-color: rgb(47, 47, 47);
    color: white;
    height: auto;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    @include responsive(phone) {  
        display: flex;
        flex-direction: column;
       }
    
    a{
        text-decoration: none;
        color: white;
        display: flex;
        font-size: 12px;
    
        &:hover{
            
            color: #FF79DA;
            }
       
    }
        .footer-links{
            margin-left: 10px;
            margin-top: 5px; 
             
       
        img{
            width: 80px;
            height: 30px;
            margin-left: 10px;
            margin-top: 10px;
            filter: invert(1);
            }
        }

    .legalandcontact{
        color: white;
        height: auto;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-left: 100px;
        margin-top: 65px;
        @include responsive(phone) {  
            margin-left: 10px;
            margin-top: 0px;
       }
    }    

}
