@import "./variables";
@import "./mediaqueries";
@import "./header";
@import"./heart";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    @include margin200;

    @include responsive(laptop) { 
        font-size: 96.25%;
        @include margin100
    }
    @include responsive(tab) { 
        font-size: 90%;
        @include margin30
    }
    @include responsive(phone) {  
        font-size: 83.75%;
        @include margin30
    }
}

section.quote
{
    animation: transitionIn 0.30s;
    @include centerquote ;
    .book-the-menu {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .discover{
        font-size: .9rem;
    }
    .explore-btn {
        height: 40px;
        width: 12rem;
        border-radius: 50px;
        margin-top: 10px;
        font-size: .9rem;
        background: radial-gradient(circle, lighten(#FF79DA, 8) 0%, darken(#FF79DA, 10) 100%);
        color: white;
        cursor: pointer;
        border: $bordersolid;
        border-color: #FF79DA;
        box-shadow: 5px 5px 10px rgb(189, 185, 185);  

        &:hover{
           
            background: radial-gradient(circle, darken(#FF79DA, 8) 0%, lighten(#FF79DA, 6) 100%);
        }
      
        a{
            text-decoration: none;
            color: white;

        }
    }
}

section.instructions{
    animation: transitionIn 0.40s;
    margin-top: 20px;
    height: 180px;
    width: auto;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .how-it-works {
        font-size: 1.4rem;
        font-weight: bold;
        height: 20%;
    }

    .one{
       @include instrucBorder;
       
    }

    .two{
        @include instrucBorder;
        
    }
    .three{
        @include instrucBorder;
       
    }
}

section.resto-grid{ 
    animation: transitionIn 1s;
    margin-top: 10px;
    
    p{
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .resto-images{
        display: flex;
        flex-flow: row wrap;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .restaurants{
       display: flex;
       flex-direction: column; 
       margin-bottom: 40px;
       @include imagesGrid;
    
       img{
        width: 260px;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 10px;
        @include imagesGrid;
       }
    }

    .textandheart{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .resto-text{
        font-size: 1rem;
        text-decoration: none;
        margin-left: 0px;

        a{
            text-decoration: none;
            color: black;

            :hover{
              color:  #FF79DA;
            }
        }
    }
}



.footer-logo{
    animation: transitionIn .60s;
    background-color: rgb(47, 47, 47);
    color: white;
    height: auto;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    @include responsive(phone) {  
        display: flex;
        flex-direction: column;
       }
    

    a{
        text-decoration: none;
        color: white;
        display: flex;
        font-size: 12px;
    
        &:hover{
           
            color:#FF79DA;
            }
       
    }
        .footer-links{
            margin-left: 10px;
            margin-top: 5px; 
            } 
       
        img{
            width: 80px;
            height: 30px;
            margin-left: 10px;
            margin-top: 10px;
            filter: invert(1);
            }
        

    .legalandcontact{
        color: white;
        height: auto;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-left: 100px;
        margin-top: 65px;
        @include responsive(phone) {  
            margin-left: 10px;
            margin-top: 0px;

       }
    }    

}   
    








