header {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.location {
  text-align: center;
  width: 15rem;
  height: 2rem;
  font-size: 1rem;
  border: 1px solid black;
}

.logo {
  border: 1px solid black;
  width: auto;
  height: 40%;
}

.logo img {
  width: 170px;
  height: 40px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin-left: 200px;
  margin-right: 200px;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 96.25%;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 90%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 83.75%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 900px) {
  section.quote {
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  section.quote {
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.book-the-menu {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.discover {
  font-size: 1rem;
}

.explore-btn {
  height: 40px;
  width: 12rem;
  border: 1px solid black;
  border-radius: 50px;
  margin-top: 10px;
  font-size: 1rem;
  background-color: #dc40dc;
  color: white;
  cursor: pointer;
}

.instructions {
  margin-top: 30px;
}

.how-it-works {
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */