@charset "UTF-8";
/* body */
@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* section */
*
.heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 20%;
}

.heart input {
  display: none;
}

.heart label {
  display: block;
  cursor: pointer;
  width: 20px;
  font-size: 30px;
}

.heart label:before {
  content: '❤';
  color: #b3b3b3;
  display: block;
  position: relative;
}

.heart label:after {
  content: '❤';
  color: #FF79DA;
  display: block;
  position: absolute;
  background-color: cover;
  top: 0;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.heart label:hover:after,
.heart label:checked ~ label:after,
.heart input:checked ~ label:after {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin-left: 450px;
  margin-right: 450px;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 96.25%;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 90%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 83.75%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  header .logo {
    margin-left: 40px;
    width: 55%;
  }
}

header .logo img {
  width: 40%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 600px) {
  header .logo img {
    margin-left: 40px;
    width: 60%;
  }
}

header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  color: black;
}

header .logo a :hover {
  color: #FF79DA;
}

header .logo .fas {
  width: 15px;
  height: 15px;
  margin-bottom: 10px;
}

section a {
  font-size: 12px;
}

section .background-image {
  background-image: url(../images/restaurants/the-enchanted-plate.jpg);
  background-size: cover;
  height: 308px;
  position: relative;
  background-repeat: no-repeat;
  -webkit-animation: transitionIn .40s;
          animation: transitionIn .40s;
}

section .background-image .menu-heading {
  height: auto;
  background-color: white;
  position: relative;
  top: 260px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .background-image .heart {
  margin-top: 10px;
  width: auto;
  margin-right: 40px;
}

section .background-image .the-echanted-plate {
  font-size: 25px;
  margin-left: 25px;
  font-family: "shrikhand";
  margin-top: 10px;
  -webkit-animation: transitionIn 0.50s;
          animation: transitionIn 0.50s;
}

section .resto-menu-entrees {
  background-color: #e7e1e1;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .resto-menu-entrees .entrees-title {
  height: 40px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
  position: relative;
  text-transform: uppercase;
  width: auto;
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

section .resto-menu-entrees .entrees-title::after {
  content: '';
  height: 2px;
  width: 6%;
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

section .resto-menu-entrees .entrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 1px 5px 20px #d3cfcf;
          box-shadow: 1px 5px 20px #d3cfcf;
  cursor: pointer;
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

section .resto-menu-entrees .entrees .name-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  margin-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

section .resto-menu-entrees .entrees .name-and-price:hover + .check {
  width: 20%;
}

section .resto-menu-entrees .entrees .name-and-price:hover + .check .far {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

section .resto-menu-entrees .entrees .name-and-price .menu-price {
  margin-right: 10px;
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .resto-menu-entrees .entrees .name-and-price .Ravioli {
  margin-left: 5px;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

section .resto-menu-entrees .entrees .check {
  width: 0;
  height: 100%;
  right: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  -webkit-transition: width 350ms ease;
  transition: width 350ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

section .resto-menu-entrees .entrees .check .far {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  color: white;
}

section .resto-menu-entrees .entrees .caviar {
  margin-left: 5px;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
}

section .resto-menu-entrees .entrees .lobster {
  margin-left: 5px;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: transitionIn 3s;
          animation: transitionIn 3s;
}

section .resto-menu-entrees .entrees .duck-foie {
  margin-left: 5px;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: transitionIn 4s;
          animation: transitionIn 4s;
}

section .resto-menu-maindish {
  background-color: #e7e1e1;
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .resto-menu-maindish .maindish-title {
  height: 40px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
  position: relative;
  text-transform: uppercase;
  width: auto;
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

section .resto-menu-maindish .maindish-title::after {
  content: '';
  height: 2px;
  width: 6%;
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

section .resto-menu-maindish .maindish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 1px 5px 20px #d3cfcf;
          box-shadow: 1px 5px 20px #d3cfcf;
  cursor: pointer;
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

section .resto-menu-maindish .maindish .name-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  margin-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

section .resto-menu-maindish .maindish .name-and-price:hover + .check {
  width: 20%;
}

section .resto-menu-maindish .maindish .name-and-price:hover + .check .far {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

section .resto-menu-maindish .maindish .name-and-price .menu-price {
  margin-right: 10px;
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .resto-menu-maindish .maindish .name-and-price .fresh-scallops {
  margin-left: 5px;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

section .resto-menu-maindish .maindish .check {
  width: 0;
  height: 100%;
  right: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  -webkit-transition: width 350ms ease;
  transition: width 350ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

section .resto-menu-maindish .maindish .check .far {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  color: white;
}

section .resto-menu-maindish .maindish .fried-lobster {
  margin-left: 5px;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
}

section .resto-menu-maindish .maindish .braised-ox-tail {
  margin-left: 5px;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: transitionIn 3s;
          animation: transitionIn 3s;
}

section .resto-menu-desserts {
  background-color: #e7e1e1;
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .resto-menu-desserts .desserts-title {
  height: 40px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
  position: relative;
  text-transform: uppercase;
  width: auto;
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

section .resto-menu-desserts .desserts-title::after {
  content: '';
  height: 2px;
  width: 6%;
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

section .resto-menu-desserts .desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 1px 5px 20px #d3cfcf;
          box-shadow: 1px 5px 20px #d3cfcf;
  cursor: pointer;
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

section .resto-menu-desserts .desserts .name-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  margin-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

section .resto-menu-desserts .desserts .name-and-price:hover + .check {
  width: 20%;
}

section .resto-menu-desserts .desserts .name-and-price:hover + .check .far {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

section .resto-menu-desserts .desserts .name-and-price .menu-price {
  margin-right: 10px;
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .resto-menu-desserts .desserts .name-and-price .hazelnut-macaroons {
  margin-left: 5px;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

section .resto-menu-desserts .desserts .check {
  width: 0;
  height: 100%;
  right: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  -webkit-transition: width 350ms ease;
  transition: width 350ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

section .resto-menu-desserts .desserts .check .far {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  color: white;
}

section .resto-menu-desserts .desserts .baba-rhum {
  margin-left: 5px;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
}

section .resto-menu-desserts .desserts .lemon-pie {
  margin-left: 5px;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: transitionIn 3s;
          animation: transitionIn 3s;
}

section .order {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .order .order-btn {
  font-weight: bold;
  height: 40px;
  width: 200px;
  border-radius: 50px;
  font-size: 15px;
  background: radial-gradient(circle, #ff50cf 0%, #ff98e2 100%);
  color: white;
  cursor: pointer;
  border: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 5px 5px 10px #bdb9b9;
          box-shadow: 5px 5px 10px #bdb9b9;
}

section .order .order-btn:hover {
  color: black;
  background: radial-gradient(circle, #ffa2e5 0%, #ff46cc 100%);
}

.footer-logo {
  background-color: #2f2f2f;
  color: white;
  height: auto;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-logo a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.footer-logo a :hover {
  color: #FF79DA;
}

.footer-logo .footer-links {
  margin-left: 10px;
  margin-top: 5px;
}

.footer-logo .footer-links img {
  width: 80px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.footer-logo .legalandcontact {
  color: white;
  height: auto;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  margin-left: 100px;
  margin-top: 65px;
}

@media only screen and (max-width: 600px) {
  .footer-logo .legalandcontact {
    margin-left: 10px;
    margin-top: 0px;
  }
}
/*# sourceMappingURL=the-enchanted-plate.css.map */