$bordersolid: 1px solid black;

@mixin margin200 {
    margin-left: 200px;
    margin-right: 200px;
}

@mixin margin100 {
    margin-left: 100px;
    margin-right: 100px;
}

@mixin margin30 {
    margin-left: 30px;
    margin-right: 30px;
}

@mixin centerquote {
       
    @include responsive(tab) {
        align-content: center;  
        text-align: center;  
        justify-content: center;  
        }
    @include responsive(phone) {
        align-content: center;  
        text-align: center; 
        justify-content: center;  
        }
}

@mixin instrucBorder {
    height: 25%;
    width: 30%;
    font-size: 1.2rem;
    

    @include responsive(laptop){
        width: 70%;
    }
    @include responsive(tab) {
        
        width: 70%;  
        }
    @include responsive(phone) {
       width: 100%; 
        }
        span{
            color: rgb(220, 64, 220);
            font-size: 150%;

        }
}