/* body */

$bordersolid: 1px solid black;
$bgcolor: rgb(241, 239, 239);

@mixin margin150 {
    margin-left: 150px;
    margin-right: 150px;
}

@mixin margin450 {
    margin-left: 450px;
    margin-right: 450px;
}

@mixin margin170 {
    margin-left: 170px;
    margin-right: 170px;
}

@mixin margin30 {
    margin-left: 30px;
    margin-right: 30px;
}

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY( -10px);
    }
        to{
            opacity: 1;
            transform: translateY(0);
        }
}


/* section */

@mixin menu-name {
    margin-left: 5px; 
    width: 90%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border: white;
}

@mixin dish {
    box-shadow: 5px 5px 10px rgb(189, 185, 185); 
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    cursor: pointer; 
    
}

@mixin check {
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    transition: width 350ms ease;
    display: flex;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

@mixin menu-price {
    margin-right: 10px;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



@mixin centerquote {
       
    @include responsive(tab) {
        align-content: center;  
        text-align: center;  
        justify-content: center;  
        }
    @include responsive(phone) {
        align-content: center;  
        text-align: center; 
        justify-content: center;  
        }
}

@mixin instrucBorder {
    height: 30%;
    width: 30%;
    font-size: 1rem;
    

    @include responsive(laptop){
        width: 70%;
    }
    @include responsive(tab) {
        
        width: 70%;  
        }
    @include responsive(phone) {
       width: 100%; 
        }
        span{
            color: #FF79DA; 
            font-size: 150%;

        }
}

@mixin imagesGrid {
    @include responsive(laptop){
        width: 260px;
       
    }
    @include responsive(tab) {
        
        width: 320px;
        
        }
    @include responsive(phone) {
        width: 100%;
        
    }  
}   

@mixin order-button {
    font-weight: bold;
    height: 40px;
    width: 200px;
    border-radius: 50px;
    font-size: 15px;
    background: radial-gradient( darken(#FF79DA, 1) 5%, lighten(#9356DC, 8) 90%);
    color: white;
    cursor: pointer;
    border: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(189, 185, 185);  
   
    &:hover{
        
        background: radial-gradient( lighten(#FF79DA, 8) 10%, darken(#9356DC, 10) 100%);
    }
}
