$bordersolid: 1px solid black;

@mixin margin200 {
    margin-left: 200px;
    margin-right: 200px;
}

@mixin margin450 {
    margin-left: 450px;
    margin-right: 450px;
}

@mixin margin100 {
    margin-left: 100px;
    margin-right: 100px;
}

@mixin margin30 {
    margin-left: 30px;
    margin-right: 30px;
}

@mixin centerquote {
       
    @include responsive(tab) {
        align-content: center;  
        text-align: center;  
        justify-content: center;  
        }
    @include responsive(phone) {
        align-content: center;  
        text-align: center; 
        justify-content: center;  
        }
}

@mixin instrucBorder {
    height: 30%;
    width: 30%;
    font-size: 1rem;
    

    @include responsive(laptop){
        width: 70%;
    }
    @include responsive(tab) {
        
        width: 70%;  
        }
    @include responsive(phone) {
       width: 100%; 
        }
        span{
            color: #FF79DA; 
            font-size: 150%;

        }
}

@mixin imagesGrid {
    @include responsive(laptop){
        width: 260px;
       
    }
    @include responsive(tab) {
        
        width: 320px;
        
        }
    @include responsive(phone) {
        width: 100%;
        
    }  
}